@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGrotesk-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGrotesk-Bold.woff') format('woff');
  font-weight: bold;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Neuzeit Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #B4C2D8;
  background: #1D2024;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0;
  color: #FFF;
}

p {
  margin-bottom: 1em;
}

a {
  color: #FFF;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;

  &:hover,
  &:active {
    opacity: 1;
  }
}
