.App {
  width: 100%;
  min-height: 100vh;
  background: transparent url('./images/background.jpg') no-repeat center bottom;
  background-size: cover;
  padding: 5% 6%;
  box-sizing: border-box;
}

.App__Social {
  position: absolute;
  left: 8px;
  top: 70px;
  width: 28px;
  padding: 5% 6%;
}

@media screen and (min-width: 640px) {

  .App__Social {
    left: auto;
    right: 0;
  }
}
